<h1> Please Login </h1>

<%= form_for :user, url: '/login' do |f| %>
  <h4><%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit 'Log In', class: 'button' %>
  
<% end %></h4>
<h4>Don't have an account? Sign up <%= link_to "here.", signup_path %></h4>  

<% if flash[:warning] %>
<%=flash[:warning] %></h3>
<% end %>