<h1>Create a New Tweet</h1>

    <% if flash[:success] %>
<h3><%= flash[:success]   %></h3>
    <% end %><br><br>


<% if !flash[:topic_id] %>
<%= form_with(url: '/factsearch', method: 'post') do |f| %>
<%= f.label :topic %>
<%= f.collection_select :topic, @topics, :id, :name %>
<%= f.submit "Submit" %>
<% end %>

<% else %>
<%= form_with(url: '/factsearch', method: 'post') do |f| %>
<%= f.label :topic %>
<%= f.collection_select :topic, @topics, :id, :name, {:prompt => @selected_topic.name} %>
<%= f.submit "Submit" %>

<% end %>
<% end %>


<% if flash[:results] %>
<%= flash[:results] %>
<% end %>

<!-- new form that accepts the flash and allows user to generate tweet to randomized user-->
<%= form_with(url: '/tweetgenerate', method: 'post') do |f| %>
<h2>Looks good? Press "Send tweet" to send out the tweet from the bot account.</h2>
<h2>If you'd like to change the tweet content, select another topic from the drop down. </h2>
<%= f.submit "Send tweet" %>
<%end%>


