<h1>Edit Your Account Info</h1>
<%= form_for @user do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.submit "Make changes" %>
<% end%>