
<div class="container">
<h1>Sign Up</h1>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p style="color: red;"><%= error %></p>
    <% end %>
  <% end %>

<%= form_for @user do |f|%>
  <h3><%= f.label :first_name%>
  <%= f.text_field :first_name%></h3>

  <h3><%= f.label :last_name%>
  <%= f.text_field :last_name%></h3>

  <h3><%= f.label :username%>
  <%= f.text_field :username%></h3>

  <h3><%= f.label :password%>
  <%= f.password_field :password%></h3>

  <h3><%= f.label :confirm   %> 
  <%= f.password_field :password_confirmation %></h3> <br><br>

  <%= f.submit "Create Account", class: 'button' %>
<%end%>
</div>